@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes loadingBar {
  0%,
  100% {
    width: 20%;
  }
  50% {
    width: 100%;
  }
}

.animate-loading-bar1 {
  animation: loadingBar 5s infinite;
}

.animate-loading-bar2 {
  animation: loadingBar 5.1s infinite;
}

.animate-loading-bar3 {
  animation: loadingBar 5.2s infinite;
}
