@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes loadingBar1 {
  0% {
    width: 0%;
  }
  60% {
    width: 100%;
  }
}

.animate-loading-bar1 {
  animation: loadingBar1 4s infinite;
}

/* bar2: 5sのうち、90%の時点で幅が100% */
@keyframes loadingBar2 {
  0% {
    width: 0%;
  }
  80% {
    width: 100%;
  }
}

.animate-loading-bar2 {
  animation: loadingBar2 4s infinite;
}

/* bar3: 5sのうち、100%の時点で幅が100% */
@keyframes loadingBar3 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-loading-bar3 {
  animation: loadingBar3 4s infinite;
}
