# Database-related libraries
psycopg2-binary==2.9.9
SQLAlchemy==2.0.35
alembic==1.13.3

# Web framework and supporting libraries
fastapi==0.115.0
uvicorn==0.31.0

# Pydantic for data validation
pydantic==1.10.13
pydantic_core==2.16.3

# Authentication
python-jose[cryptography]==3.3.0
google-auth==2.35.0
google-auth-oauthlib==1.2.0

# Request and HTTP handling
requests==2.31.0
httpx==0.27.0
email_validator==2.2.0
websockets==13.1

# Security and utilities
itsdangerous==2.1.2
python-dotenv==1.0.1

# OpenAI and LangChain
openai==1.13.3
langchain==0.1.10
langchain-core==0.1.30
langchain-openai==0.0.8

# Redis (for caching or message brokering)
redis==5.2.0
